<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Who Wants to Be a Millionaire?</title>
        <link href="../static/css/home.css" th:href="@{/css/home.css}" rel="stylesheet" /> 
    </head>
    <body>
        <div class="main-container">
            <img src="../static/images/logo.png" th:src="@{images/logo.png}" class="logo"/>

            <div class="content-container">
                <h1 class="title-game-over">GAME OVER</h1>
                <a th:href="backToMenu" class="play-button">Back to Menu</a>
            </div>
        </div>
    </body>
</html>